.btn-add {
    width: 50%;
    padding-top: 12px;
}

.my-card {
    overflow: auto;
}

    .user-icon{
        width: 40px;
        margin-top: 10px;
    }

    .dropdown-icon{
        width: 30px;
    }