.btn-add {
    width: 50%;
    padding-top: 12px;
}

.my-card {
    overflow: auto !important;
}

.user-icon{
        width: 40px;
        margin-top: 10px;
    }

.dropdown-icon{
        width: 30px;
    }

.button-search{
    line-height: 1.70 !important;
    color: transparent !important;
    background-color: transparent !important;
    border-style: double !important;
}