.btn-add {
    width: 50%;
    padding-top: 12px;
}

.my-card {
    overflow: auto !important;
}

.user-icon{
        width: 40px;
        margin-top: 10px;
    }

.dropdown-icon{
        width: 30px;
    }

.button-search{
    line-height: 1.70 !important;
    color: transparent !important;
    background-color: transparent !important;
    border-style: double !important;
}

.print {
    display:none;
    }
    
.no-print { 
    display:block; 
}

::-webkit-input-placeholder  { 
    color: #616161 !important; 
}
input:-moz-placeholder { 
    color: #616161 !important; 
}

.logo_menu{
    width: 170px !important;
    margin-top: -28px !important;
    margin-left: 20px !important;
}

.brand_logo{
    display: inline-flex !important;
}

body{
    background: url(/static/img/bg-home.png);
    background-size: cover;
    background-repeat: repeat;
    background-color: #f5f1eb;
}

li a .text-menu{
    color: #8c2416 !important;
}