{% extends 'layout/menu.html' %}
{% block title %}View Dictionary{% endblock %}
{% block body %}
    <div class="container">
        <table class="responsive-table highlight striped">
            <thead>
                <tr>
                    <th scope="col" class=""><h2>Dictionary's Name</h2></th>
                    <th scope="col">
                        <form action="{{url_for('search')}}" method="get" class="navbar-form navbar-left">
                            <div class="form-group row">
                                <input type="text" name="dictionary" class="form-control col s9" placeholder="Search..." id="dictionary" value>
                                <button type='submit' class="col s3" style="color: transparent !important; background-color: transparent !important; border-style: double !important;">
                                    <?xml version="1.0" encoding="iso-8859-1"?>
                                    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966; width: 35px; padding-top: 5px;" xml:space="preserve" >
                                        <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
                                            s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
                                            c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
                                            s-17-7.626-17-17S14.61,6,23.984,6z"/>
                                        <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                                    </svg>
                                </button>    
                            </div>
                        </form>
                    </th> 
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for dictionary in dictionarys %}
                    <tr>
                        <td>{{ dictionary }}</td>
                        <td>
                            <div class="row">
                                <div class="col s4">
                                    <form action="{{ url_for('pandas_to_csv') }}" method="post" class="pull-right">
                                        <input type="hidden" name="id" value="{{ dictionary }}">
                                        <input type="submit" class="btn green"  value="Create">
                                    </form>
                                </div>
                                <div class="col s4">
                                    <form action="{{ url_for('edit_dictionary') }}" method="post" class="pull-right">
                                        <input type="hidden" name="id" value="{{ dictionary }}">
                                        <input type="submit" class="btn"  value="Edit">
                                    </form>
                                </div>
                                <div class="col s4">
                                    <form action="{{ url_for('dictionary_delete') }}" method="post" class="pull-right">
                                        <input type="hidden" name="id" value="{{ dictionary }}">
                                        <input type="submit" class="btn red" data-toggle="confirmation" {# data-title="Tem Certeza??" #} value="Delete">
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="static/lib/js/materialize.min.js"></script>
{% endblock %}
