<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
</head>
<body>
    <!-- {
        'name_dictionary':'name_dataset,
        'variable:':'formaclini'
        'description':'bla',
        'type':'StringType',
        'categories':{
                    '1':'I -Indeterminada',
                    '2':'T - Tuberculóide',
                    '3':'D - Dimorfa',
                    '4':'V - Virchowiana',
                    '5':'Não classificado'
        },
                'comment':'bla' 
            },
        ]
    } 
-->
    <form  action="/teste"  id="myForm" method="post" >
        First name:<br>
        <input type="text" id="nameDictionary" name="nameDictionary">
        <input type="text" id="nameVariable" name="nameVariable">
        <input type="text" id="description" name="description">
        <input type="text" id="type" name="type">
        <input type="text" id="comment" name="comment">
        <div>
            <h3>Categoria</h3>
            <input type="text" class="cat_value" name="cat_value">
            ->
            <input type="text" class="cat_descr" name="cat_descr">
            <br>
            <input type="text" class="cat_value" name="cat_value">
            ->
            <input type="text" class="cat_descr" name="cat_descr">
        </div>
        <input type="text"  name="result" hidden id="result">
        <button type="button"  id="add">Add</button>
        <button type="button"  id="compile">Compile</button>
        <button type="submit" value="submit">Submit</button>

    </form>
<script>
    var values = new Array();
    var catDes = new Array();
    var catVal = new Array();

    var categories = function(x,y) {
        var result = '';
        $(x).each(function() {
            catVal.push($(this).val());
        });
        $(y).each(function() {
            catDes.push($(this).val());
        });
        for (var index = 0; index < catDes.length; index++) {
            result = result.concat(String("'"+catVal[index]+"' : '"+catDes[index]+"',")); 
        }
        catDes.length = 0 //clear
        catVal.length = 0 //clear
        
        return result;
    }
    $("button").click(function(e){ 
        var idClicked = e.target.id;
        if(idClicked == 'add'){
            
                var value = 
                "{"+
                    '"variable": "'+String($('#nameVariable').val()+'" ,')+
                    '"description": "'+String($('#description').val()+'" ,') +
                    '"type": "'+String($('#type').val() +'" ,') +
                    '"comment": "'+String($('#comment').val() +'" ,') +
                    '"description": "'+String($('#description').val() +'" ,') +
                    '"categories": {'+ categories('.cat_value','.cat_descr')  + "}}-" 
                values.push(value)                              
        }else if(idClicked == 'compile'){
          $("#result").val(values);
        }
    });
</script>
</body>
</html>