{% extends 'layout/menu.html' %}
{% block title %}View {{dict}}{% endblock %}
{% block body %}
    <div class="container" id="table">
        <table class="responsive-table highlight tborder" id="printJS-dic">
            <thead>
                <div class="row">
                    <div class="col s8">
                        <h1>{{dict}}</h1>
                    </div>
                    <div class="col s4">
                        <img class="print" id="logo" src="/static/img/logo-cidacs.svg" >
                    </div>  
                </div>
                <tr>
                    <th>Variable</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Categories</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for variable in variables %}
                <tr> 
                    <td>{{variable.variable}}</td>
                    <td>{{variable.description}}</td>
                    <td> {{variable.type}}</td>
                    <td>{{variable.categories}}</td>
                    <td> {{variable.comment}}</td>
                </tr>  
                {% endfor %}  
            </tbody>
        </table>
        
        <button type="button" onclick="printJS()"
        class="btn-print btn deep-orange darken-4 right no-print" style="margin-top: 20px !important;">
                Print Dictionary
        </button>
    </div>
    <script type="text/javascript" src="static/js/print.js"></script>
    <script type="text/javascript" src="static/lib/js/materialize.min.js"></script>
{% endblock %}
