{% extends 'layout/menu.html' %}
{% block title %}View {{dict}}{% endblock %}
{% block body %}
    <div class="container">
        <table class="responsive-table highlight tborder" id="printJS-dic">
            <thead>
                <h1>{{dict}}</h1>
                <tr>
                    <th>Variable</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Categories</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for variable in variables %}
                <tr> 
                    <td>{{variable.variable}}</td>
                    <td>{{variable.description}}</td>
                    <td> {{variable.type}}</td>
                    <td>{{variable.categories}}</td>
                    <td> {{variable.comment}}</td>
                </tr>  
                {% endfor %}  
            </tbody>
        </table>
        
        <button type="button" onclick="printJS({printable: 'printJS-dic', type: 'html', header: '{{dict}}', documentTitle: '{{dict}}', css: '/static/lib/css/materialize.min.css', scanStyles: false})"
        class="btn-print btn deep-orange darken-4 right" style="margin-top: 20px !important;">
                Print Dictionary
        </button>
    </div>
    <script type="text/javascript" src="static/lib/js/print.min.js"></script>
    <script type="text/javascript" src="static/lib/js/materialize.min.js"></script>
{% endblock %}