<div class="row" id="type_variables" style="display: none;">
    <button type="button"  id="state1" class="waves-effect waves-light btn green" style="text-transform: none !important;" onclick="selected_state('state1')">29:29</button>
    <button type="button"  id="state2" class="waves-effect waves-light btn green" style="text-transform: none !important;" onclick="selected_state('state2')">BA:29</button>
    <button type="button"  id="state3" class="waves-effect waves-light btn green" style="text-transform: none !important;" onclick="selected_state('state3')">BAHIA:29</button>
    <button type="button"  id="state4" class="waves-effect waves-light btn green" style="text-transform: none !important;" onclick="selected_state('state4')">Bahia:29</button>
    <button type="button"  id="state5" class="waves-effect waves-light btn green" style="text-transform: none !important;">bahia:29</button>
</div>

{% include 'layout/state1.html' %}
{% include 'layout/state2.html' %}
{% include 'layout/state3.html' %}
{% include 'layout/state4.html' %}