<!-- State2 Ex: BA:29-->

<div class="row" id="category_state2" style="display: none;">
    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Rondônia">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="RO"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="11">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Acre">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="AC"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="12">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Amazonas">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="AM"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="13">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Roraima">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="RR"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="14">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Pará">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="PA"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="15">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Amapá">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="AP"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="16">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Tocantins">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="TO"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="17">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Maranhão">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="MA"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="21">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Piauí">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="PI"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="22">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Ceará">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="CE"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="23">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Rio Grande do Norte">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="RN"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="24">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Paraíba">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="PB"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="25">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Pernambuco">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="PE"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="26">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Alagoas">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="AL"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="27">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Sergipe">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="SE"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="28">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Bahia">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="BA"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="29">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Minas Gerais">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="MG"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="31">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Espírito Santo">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="ES"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="32">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Rio de Janeiro">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="RJ"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="33">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="São Paulo">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="SP"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="35">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Paraná">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="PR">  
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="41">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Santa Catarina">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="SC"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="42">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Rio Grande do Sul">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="RS"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="43">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Mato Grosso do Sul">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="MS"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="50">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Mato Grosso">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="MT"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="51">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>  

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Goiás">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="GO"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="52">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>  

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Distrito Federal">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="DF"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="53">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div> 

    <script> //Loop para mostrar mais campos de categorias.
        for (iLoop = 1; iLoop <= totalCampos; iLoop++) {
            document.write("<span id='linha"+iLoop+"' style='display:none'> <div class='col s5'> <input type='text' class='nameCategory' id='nameCategory"+iLoop+"' name='nameCategory"+iLoop+"' placeholder='Category's Name'>" +    
            "</div>"+
            "<div class='col s2'>"+
                "<input type='text' class='originalValue' id='originalValue" +iLoop+"' name='originalValue'"+iLoop+" placeholder='Original Value'>"+
            "</div>"+
            "<div class='col s1'>"+
                "<img src='static/img/icons8-chevron-right-64.png'>"+
            "</div>"+
            "<div class='col s2'>"+
                "<input type='text' class='standardizeValue' id='standardizeValue"+iLoop+"' name='standardizeValue"+iLoop+"' placeholder='Standardized Value'>"+
            "</div>"+
            "<div class='col s2'>"+
                "<a class='btn-floating btn-large waves-effect waves-light white' id='remove-category' value='Remover' onclick='RemoverCampos(\""+iLoop+"\")'><img src='static/img/icons8-excluir-50.png' class='btn-add'></a>"+    
            "</div> </span>");
    }
    </script>
    <input type="hidden" name="hidden1" id="hidden1">
    <input type="hidden" name="hidden2" id="hidden2">
</div>