<!-- State3 Ex: BAHIA:29-->

<div class="row" id="category_state3" style="display: none;">
    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Rondônia">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="RONDONIA"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="11">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Acre">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="ACRE"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="12">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Amazonas">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="AMAZONAS"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="13">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Roraima">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="RORAIMA"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="14">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Pará">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="PARA"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="15">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Amapá">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="AMAPA"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="16">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Tocantins">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="TOCANTINS"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="17">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Maranhão">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="MARANHAO"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="21">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Piauí">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="PIAUI"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="22">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Ceará">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="CEARA"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="23">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Rio Grande do Norte">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="RIO GRANDE DO NORTE"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="24">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Paraíba">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="PARAIBA"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="25">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Pernambuco">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="PERNAMBUCO"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="26">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Alagoas">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="ALAGOAS"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="27">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Sergipe">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="SERGIPE"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="28">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Bahia">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="BAHIA"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="29">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Minas Gerais">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="MINAS GERAIS"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="31">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Espírito Santo">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="ESPIRITO SANTO"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="32">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Rio de Janeiro">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="RIO DE JANEIRO"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="33">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="São Paulo">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="SÃO PAULO"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="35">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Paraná">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="PARANA">  
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="41">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Santa Catarina">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="SANTA CATARINA"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="42">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Rio Grande do Sul">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="RIO GRANDE DO SUL"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="43">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Mato Grosso do Sul">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="MATO GROSSO DO SUL"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="50">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Mato Grosso">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="MATO GROSSO"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="51">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>  

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Goiás">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="GOIAS"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="52">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div>  

    <div class="col s5">
        <input type="text" class="nameCategory" id="nameCategory" name="nameCategory" placeholder="Category's Name" autocomplete value="Distrito Federal">     
    </div>
    <div class="col s2">
        <input type="text" class="originalValue" id="originalValue" name="originalValue" placeholder="Original Value" autocomplete value="DISTRITO FEDERAL"> 
    </div>
    <div class="col s1">
        <img src='static/img/icons8-chevron-right-64.png'>
    </div>
    <div class="col s2">
        <input type="text" class="standardizeValue" id="standardizeValue" name="standardizeValue" placeholder="Standardized Value" autocomplete value="53">
    </div>
    <div class="col s2">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category" onclick="AddCampos()"><img src="static/img/icons8-soma-40.png" class="btn-add"></a>
    </div> 
</div>